asgiref==3.5.0
Django==3.0.14
django-ckeditor==6.3.2
django-js-asset==2.0.0
django-utils-six==2.0
Pillow==9.1.0
pytz==2022.1
sqlparse==0.4.2
psycopg2-binary==2.8.6
django_s3_sqlite
channels==3.0.4
django-storages
boto3