{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />
<link rel="stylesheet" href="{% static 'css/Admin.css' %}" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
{% endblock %} {% block body %}
<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>HireUp</b></h1>
    <h2 class="is-size-5 has-text-white"><b>HireUp / Recruiter / Jobs</b></h2>
  </div>
</div>
<!-- <button class="button is-primary" type="button" href="">Search</button> -->
</div>
<section class="section-Admin">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Sr. no</th>
        <th>Profile</th>
        <th>Job Type</th>
        <th>Employee Type</th>
        <th>Experience</th>
        <th>Location</th>
        <th>CTC</th>
        <th>Status</th>
        <th>Action</th>
        <th>Manage</th>

      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr class="active-row">
        <td>{{ forloop.counter }}</td>
        <td>{{i.work_name}}</td>
        <td>{{i.Type}}</td>
        <td>{{i.emp_type}}</td>
        <td>{{i.experience_or_time}}</td>
        <td>{{i.location}}</td>
        <td>{{i.salary_or_stipend}}</td>
        {% if i.status == True %}
        <td>Active</td>
        {% else %}
        <td>Inactive</td>
        {% endif %}
        <td><span class="icon">
            <a href="{% url 'editJob' i.id %}" style="text-decoration: none;color: inherit;"><i class="fas fa-edit"
                onclick="editFucntion(id='{{i.id}}')"></i></a>

        <td><span class="icon">
            <a href="{% url 'manageJob' i.id %}" style="text-decoration: none;color: inherit;"><i
                class="fas fa-external-link-alt"></i></a>
          </span></td>
      </tr>

      {% endfor %}
      <!-- and so on... -->
    </tbody>
  </table>
</section>
<script>
  function editFucntion(id) {
    console.log('work ID: ', id);
  }
</script>

{% endblock %} {% block script %} {% endblock %}