{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/managejob.css' %}" />
<link rel="stylesheet" href="{% static 'css/Admin.css' %}" />


{% endblock %} {% block body %}
<div class="has-background-primary set">
    <div class="container py-5">
        <h1 class="is-size-3 has-text-white m-0"><b>HireUp</b></h1>
        <h2 class="is-size-5 has-text-white"><b>HireUp / Recruiter / Jobs / {{work.id}}</b></h2>
    </div>
</div>

</div>
<section class="">
    <div id="tsum-tabs">


        <main>

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Applicants</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Resume Selected</label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">Interview Selected</label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">Onboarded</label>

            <section id="content1">
                <p>
                <div class="card__container">
                    {% for i in applicants %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <div class="card__flex">
                                    <div>
                                        <img src="{% static 'images/profile/download.svg' %}" class="card__pic" />

                                    </div>
                                    <div class="mt-3 ml-3">
                                        <p class="is-size-5 m-0">{{i.username.first_name}} {{i.username.last_name}}</p>
                                        <p class="m-0 is-size-7 has-text-lightgrey">{{i.bio}}</p>
                                        <a href="{% url 'profile' user=i.username %}" target="_blank"
                                            class="is-size-7">View Profile</a>

                                    </div>
                                </div>


                                <a href="#" class="icon_profile_card"><i class="fa fa-envelope"></i>&nbsp;
                                    {{i.username.email}}</a> <br />
                                <a href="#" class="icon_profile_card"><i class='fa fa-mobile'>&nbsp;&nbsp;
                                    </i>{{i.phone}}</a> <br />
                                <div class="my-3">
                                    <!-- <a href="{% url 'profile' user=i.username %}" target="_blank"><button
                                            class="button is-primary px-4 m-0">
                                            Profile</button></a> -->

                                    <a
                                        href="{% url 'selectInterview' userid=i.id jobid=work.id key='resume_selected' %}">
                                        <button class="button is-primary-outlined px-4 m-0">Next</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    </p>
            </section>

            <section id="content2">
                <p>
                <div class="card__container">
                    {% for i in resume_selected %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <div class="card__flex">
                                    <div>
                                        <img src="{% static 'images/profile/download.svg' %}" class="card__pic" />

                                    </div>
                                    <div class="mt-3 ml-3">
                                        <p class="is-size-5 m-0">{{i.username.first_name}} {{i.username.last_name}}</p>
                                        <p class="m-0 is-size-7 has-text-lightgrey">{{i.bio}}</p>
                                        <a href="{% url 'profile' user=i.username %}" target="_blank"
                                            class="is-size-7">View Profile</a>

                                    </div>
                                </div>


                                <a href="#" class="icon_profile_card"><i class="fa fa-envelope"></i>&nbsp;
                                    {{i.username.email}}</a> <br />
                                <a href="#" class="icon_profile_card"><i class='fa fa-mobile'>&nbsp;&nbsp;
                                    </i>{{i.phone}}</a> <br />
                                <div class="my-3">
                                    <!-- <a href="" target="_blank"><button class="button is-primary px-4 m-0">
                                            Profile</button></a> -->

                                    <a href="{% url 'selectInterview' userid=i.id jobid=work.id key='interview' %}">
                                        <button class="button is-primary-outlined px-4 m-0">Next</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </p>
            </section>

            <section id="content3">
                <p>
                <div class="card__container">
                    {% for i in hired %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <div class="card__flex">
                                    <div>
                                        <img src="{% static 'images/profile/download.svg' %}" class="card__pic" />

                                    </div>
                                    <div class="mt-3 ml-3">
                                        <p class="is-size-5 m-0">{{i.username.first_name}} {{i.username.last_name}}</p>
                                        <p class="m-0 is-size-7 has-text-lightgrey">{{i.bio}}</p>
                                        <a href="{% url 'profile' user=i.username %}" target="_blank"
                                            class="is-size-7">View Profile</a>
                                    </div>
                                </div>


                                <a href="#" class="icon_profile_card"><i class="fa fa-envelope"></i>&nbsp;
                                    {{i.username.email}}</a> <br />
                                <a href="#" class="icon_profile_card"><i class='fa fa-mobile'>&nbsp;&nbsp;
                                    </i>{{i.phone}}</a> <br />
                                <div class="my-3">


                                    <a href="{% url 'selectInterview' userid=i.id jobid=work.id key='onboard' %}">
                                        <button class="button is-primary-outlined px-4 m-0">Next</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </p>
            </section>

            <section id="content4">
                <p>
                <div class="card__container">
                    {% for i in onboard %}
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <div class="card__flex">
                                    <div>
                                        <img src="{% static 'images/profile/download.svg' %}" class="card__pic" />

                                    </div>
                                    <div class="mt-3 ml-3">
                                        <p class="is-size-5 m-0">{{i.username.first_name}} {{i.username.last_name}}</p>
                                        <p class="m-0 is-size-7 has-text-lightgrey">{{i.bio}}</p>
                                        <a href="{% url 'profile' user=i.username %}" target="_blank"
                                            class="is-size-7">View Profile</a>

                                    </div>
                                </div>


                                <a href="#" class="icon_profile_card"><i class="fa fa-envelope"></i>&nbsp;
                                    {{i.username.email}}</a> <br />
                                <a href="#" class="icon_profile_card"><i class='fa fa-mobile'>&nbsp;&nbsp;
                                    </i>{{i.phone}}</a> <br />
                                <div class="my-3">
                                    <!-- <a href="" target="_blank"><button class="button is-primary px-4 m-0">
                                            Profile</button></a> -->

                                    <a href="{% url 'selectInterview' userid=i.id jobid=work.id key='next' %}"> <button
                                            class="button is-primary-outlined px-4 m-0">Hire</button></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </p>
            </section>

        </main>
    </div>

</section>

{% endblock %} {% block script %}

<script>


</script>

{% endblock %}