{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />

{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Hireup</b></h1>
    <h2 class="is-size-5 has-text-white">
      <b>Hireup / Add/Edit Education</b>
    </h2>
  </div>
</div>

<section class="section container set">
  <h2 class="is-size-4 mb-3">Add/Edit Education</h2>
  {% if data.id %}
  <form class="createJob" method="post" action="{% url 'addEdu' data.id %}">
    {%else%}
    <form class="createJob" method="post" action="{% url 'addEdu' %}">
      {%endif%}
      {% csrf_token %}
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="mb-2 ml-1">College Name</p>
            <p class="control is-expanded is-fullwidth">
              <input class="input mx-1" type="text" placeholder="College Name" name="name" id="id" value="{{data.name}}"
                required />
            </p>
          </div>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="mb-2">Start Year</p>
            <p class="control is-expanded is-fullwidth">
              <input class="input mx-1" type="date" placeholder="Start Year" name="start_year" id="id"
                value="{{data.start_year}}" required />
            </p>
          </div>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="mb-2">End Year</p>

            <p class="control is-expanded is-fullwidth">
              <input class="input mx-1" type="date" placeholder="End year" name="end_year" id="id"
                value="{{data.end_year}}" required />
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="mb-2 ml-1">Degree</p>
            <p class="control is-expanded is-fullwidth">
              <input class="input mx-1" type="text" placeholder="Designation" name="degree" id="id"
                value="{{data.degree}}" required />
            </p>
          </div>
        </div>
        <div class="field-body"></div>
        <div class="field-body"></div>
      </div>

      <br />

      {% if error %}
      <article class="message is-info">
        <div class="message-header">
          <p>{{error}}</p>
        </div>
      </article>

      {%endif%}
      <button style="float: left" class="button is-primary" type="submit" href="">
        Create
      </button>
    </form>
</section>

{% endblock %} {% block script %} {% endblock %}