{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Hireup</b></h1>
    <h2 class="is-size-5 has-text-white">
      <b>Hireup / Add/Edit Certificate</b>
    </h2>
  </div>
</div>

<section class="section container set">
  <h2 class="is-size-4 mb-3">Add/Edit Certificate</h2>
  <form class="createJob" method="post" action="{% url 'addCert' %}">
    {% csrf_token %}
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">Certificate Name</p>
          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="text"
              placeholder="Certificate Name"
              name="name"
              id="id"
              required
            />
          </p>
        </div>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="mb-2">Organisation Name</p>

          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="text"
              placeholder="Organisation Name"
              name="organisation"
              id="id"
              required
            />
          </p>
        </div>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="mb-2">Issue Date</p>
          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="date"
              placeholder="Start Year"
              name="issue_date"
              id="id"
              required
            />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">URL</p>
          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="url"
              placeholder="URL"
              name="url"
              id="id"
            />
          </p>
        </div>
      </div>
      <div class="field-body"></div>
      <div class="field-body"></div>
    </div>

    <br />

    {% if error %}
    <article class="message is-info">
      <div class="message-header">
        <p>{{error}}</p>
      </div>
    </article>

    {%endif%}
    <button style="float: left" class="button is-primary" type="submit" href="">
      Create
    </button>
  </form>
</section>

{% endblock %} {% block script %} {% endblock %}
