{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Hireup</b></h1>
    <h2 class="is-size-5 has-text-white"><b>Hireup / Create Job</b></h2>
  </div>
</div>

<section class="section container set">
  <h2 class="is-size-4 mb-3">Create Job</h2>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="mb-2 ml-1">Job Name</p>
        <p class="control is-expanded is-fullwidth">
          <input
            class="input mx-1"
            type="text"
            placeholder="Job Title"
            name="id"
            id="id"
          />
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">Employment Type</p>
        <p class="control is-expanded select is-fullwidth">
          <select id="selectbasic-0" name="selectbasic-0" class="is-large">
            <option value="Full Time">Full Time</option>
          </select>
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">Internship or Job</p>

        <p class="control is-expanded select is-fullwidth">
          <select id="selectbasic-0" name="selectbasic-0" class="is-large">
            <option value="Internship">Internship</option>
            <option value="Job">Job</option>
          </select>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="mb-2 ml-1">Location (Remote/City)</p>
        <p class="control is-expanded is-fullwidth">
          <input
            class="input mx-1"
            type="text"
            placeholder="location"
            name="location"
            id="location"
          />
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">Salary</p>
        <p class="control is-expanded select is-fullwidth">
          <select id="selectbasic-0" name="selectbasic-0" class="is-large">
            <option value="Negotiable">Negotiable</option>
            <option value="1 LPA - 3 LPA">1 LPA - 3 LPA</option>
            <option value="3 LPA - 5 LPA">3 LPA - 5 LPA</option>
            <option value="5 LPA - 8 LPA">5 LPA - 8 LPA</option>
            <option value="10 LPA +">10 LPA +</option>
          </select>
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">Experience</p>

        <p class="control is-expanded select is-fullwidth">
          <select id="selectbasic-0" name="selectbasic-0" class="is-large">
            <option value="Fresher">Fresher</option>
            <option value="1yr- 2yr">1yr- 2yr</option>
            <option value="3yr- 5yr">3yr- 5yr</option>
            <option value="5yr- 10yr">5yr- 10yr</option>
          </select>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="mb-2 ml-1">Skills Required</p>
        <p class="control is-expanded is-fullwidth skills">
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="Python" />

              <span>Python</span>
            </label> </span
          >&nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="JavaScript" />
              <span>JavaScript</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="PHP" />
              <span>PHP</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="NodeJS" />
              <span>NodeJS</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="ExpressJS" />
              <span>ExpressJS</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="HTML" />
              <span>HTML</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="CSS" />
              <span>CSS</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="ReactJS" />
              <span>ReactJS</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="React Native" />
              <span>React Native</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="Flutter" />
              <span>Flutter</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="MySQL" />
              <span>MySQL</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="MongoDB" />
              <span>MongoDB</span>
            </label>
          </span>
          &nbsp;
          <span class="control">
            <label class="is-checkbox is-rounded">
              <input id="mycheckbox" type="checkbox" value="Go" />
              <span>Go</span>
            </label>
          </span>
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">No. of Openings</p>
        <p class="control is-expanded is-fullwidth">
          <input
            class="input mx-1"
            type="text"
            placeholder="No. pf Openings"
            name="opening"
            id="id"
          />
        </p>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="mb-2">Job Status</p>

        <p class="control is-expanded select is-fullwidth">
          <select id="selectbasic-0" name="jobStatus" class="is-large">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block script %} {% endblock %}
