{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/job.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %} {% block body %}


<div class="job__info__section container mt-5">

  <h1 class="job__heading">{{job.work_name}}</h1>
  <h2 class="job__company">{{job.company.company_name}}</h2>
  <br />
  <p class="has-text-grey"> &nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker " aria-hidden="true"></i> &nbsp;{{job.location}}</p>
  <br />
  <div class="card__flex">
    <div class="break">
      <div>
        <p><i class="fa fa-play" aria-hidden="true"></i> &nbsp;Joining</p>
        <h3>Immediate</h3>
      </div>

      <div>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;Experience</p>
        <h3>{{job.experience_or_time}}</h3>
      </div>
    </div>
    <div class="break">
      <div>
        <p><i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp;Job Type</p>
        <h3>{{job.emp_type}}</h3>
      </div>

      <div>
        <p><i class="fa fa-money" aria-hidden="true"></i> &nbsp;Salary</p>
        <h3>{{job.salary_or_stipend}}</h3>
      </div>
    </div>
  </div>
  <h2 class="mt-5 is-size-5"><b>About Company</b></h2>
  <p class="text">
    {{job.company.about_company}}

  </p>
  <h2 class="mt-5 is-size-5"><b>About Job</b></h2>
  <p class="text">
    Selected Candidate responsibilities : <br />
    <ul>
      <li>1. Tutoring children with basic subject knowledge from pre-primary to 10th grade</li>
      <li>2. Following up on syllabus tasks</li>
      <li>3. Keeping track of student progress</li>
      <li>4. Handling assessment</li>
    </ul>
  </p>

  <h2 class="mt-5 mb-3 is-size-5"><b>Skills Required</b></h2>
  {% for tech in job.tech_stack%}
  <span class="skill">{{tech}}</span>
  {% endfor %}
  <!-- <span class="skill">JavaScript</span> -->
  <!-- <span class="skill">ReactJS</span> -->

  <h2 class="mt-5 mb-3 is-size-5"><b>Minimum Requirements</b></h2>
  <ul>
    <li>1. Tutoring children with basic subject knowledge from pre-primary to 10th grade</li>
    <li>2. Following up on syllabus tasks</li>
    <li>3. Keeping track of student progress</li>
    <li>4. Handling assessment of student knowledge</li>
  </ul>

  <h2 class="mt-5 mb-3 is-size-5"><b>Perks</b></h2>
  <span class="skill">Certificate</span>
  <span class="skill">LOR</span>

  <h2 class="mt-5 mb-3 is-size-5"><b>Openings</b></h2>
  <span class=""><b>{{job.number_of_vacancy}}</b></span>
  <br>
  {% if Isapplied %}
  <a href="{% url 'applyjob' id=job.id %}">
    <button class="button is-primary my-5">Withdraw Application</button>
      </a>
  {% else %}
  <a href="{% url 'applyjob' id=job.id %}">
<button class="button is-primary my-5">Apply Now</button>
  </a>
  {% endif %}
</div>


{% endblock %} {% block script %} {% endblock %}