.section-Admin {
    display: flex;
    justify-content: center;

}

.styled-table {
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.section-Admin .styled-table .DeleteBtn {
    border-radius: 1.3rem;
    padding: 0.55rem 1.8rem;
    font-size: 15px;
    font-weight: 600;
    color: white;
    /* background: radial-gradient(#7e7e7e, #ff070700); */
    background: #e05252;
    outline: none;
    border: none;
}

.section-Admin .styled-table .DeleteBtn:hover {
    background: #be2121;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    color: white;
    font-size: 19px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}