{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Hireup</b></h1>
    <h2 class="is-size-5 has-text-white">
      <b>Hireup / {{data.page}} Study Material</b>
    </h2>
  </div>
</div>
<style>
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
</style>
<section class="section container set">
  <form
    class="editUserProfile"
    action="{% url 'editUserProfile' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2 class="is-size-5 has-text-black"><u> Material Details</u></h2>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">Title</p>
          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="text"
              placeholder="What is it about?"
              name="name"
              id="name"
              value="{{ data.name }}"
              required
            />
          </p>
        </div>
      </div>

      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">Subject</p>
          <p class="control is-expanded is-fullwidth">
            <input
              class="input mx-1"
              type="text"
              placeholder="Subject"
              name="subject"
              id="subject"
              value="{{ data.subject }}"
              required
            />
          </p>
        </div>
      </div>

      <div class="field-body">
        <div class="field">
          <p class="mb-2">Year</p>

          <p class="control is-expanded select is-fullwidth">
            <select id="selectbasic-0" name="year" class="is-large">
              <option value="1st Year"  {% if data.year == '1st Year' %} selected {% endif %} >1st Year</option>
              <option value="2nd Year"  {% if data.year == '2nd Year' %} selected {% endif %} >2nd Year</option>
              <option value="3rd Year"  {% if data.year == '3rd Year' %} selected {% endif %} >3rd Year</option>
              <option value="4th Year"  {% if data.year == '4th Year' %} selected {% endif %} >4th Year</option>
            </select>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2">Branch</p>

          <p class="control is-expanded select is-fullwidth">
            <select id="selectbasic-0" name="branch" class="is-large">
              <option value="CSE"  {% if data.branch == 'CSE' %} selected {% endif %} >CSE</option>
              <option value="IT"  {% if data.branch == 'IT' %} selected {% endif %} >IT</option>
              <option value="ME"  {% if data.branch == 'ME' %} selected {% endif %} >ME</option>
              <option value="AG"  {% if data.branch == 'AG' %} selected {% endif %} >AG</option>
              <option value="CE"  {% if data.branch == 'CE' %} selected {% endif %} >CE</option>
              <option value="BT"  {% if data.branch == 'BT' %} selected {% endif %} >BT</option>
            </select>
          </p>
        </div>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="mb-2">File</p>
          <p class="control is-expanded is-fullwidth file is-primary">
            <label class="file-label">
              <input class="file-input" type="file" name="file" />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Upload File</span>
              </span>
            </label>
          </p>
        </div>
      </div>

      <div class="field-body">
        
      </div>
    </div>
    
    <br />

    {% if error %}
    <article class="message is-info">
      <div class="message-header">
        <p>{{error}}</p>
      </div>
    </article>

    {%endif%}
    <button style="float: left" class="button is-primary" type="submit" href="">
      {{data.button}}
    </button>
  </form>
</section>

{% endblock %} {% block script %} {% endblock %}
