{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />


{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Prepup</b></h1>
    <h2 class="is-size-5 has-text-white"><b>Prepup / Study Materials</b></h2>
  </div>
</div>
<form action="{% url 'SearchPreup' %}" >
<div class="container field is-grouped mt-5 set">
  <div class="field mr-1">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Search notes here..." name="q" />
      <span class="icon is-small is-left">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <button class="button is-primary" type="submit">Search</button>
</div>
</form>

<!-- Notes -->
<section class="section container set">
  <div class="card__container">
    {% for i in data %}
    <div class="card">
      <div class="card-content">
        <div class="content">
          <p class="is-size-5 m-0">{{i.subject}}</p>
          <p class="m-0 is-size-7 has-text-lightgrey">{{i.Name}}</p>
          <p class="m-0 is-size-6 mb-2">Btech / {{i.Branch}} / {{i.years}}</p>
          {% if i.url %}
          <a href="{{i.url}}"><i class="fa fa-download"></i></a> &nbsp;
          {% elif i.file %}
          <a href="{{i.file}}"><i class="fa fa-download"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %} {% block script %} {% endblock %}