{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block body %}

<!-- Landing Page -->
<div class="header__section">
  <div class="header__container">
    <div class="header__content">
      <h1>Prepare youself with Prepup and Get hired ith hireup.</h1>
      <p>Hireup is the platform for both job seekers and talent hunters.</p>
      <a href="{% url 'Recruitersignup' %}"
        ><button class="header__btn">For Companies</button></a
      >
      <a href="{% url 'Usersignup' %}"
        ><button class="header__btn outline">Job Seekers</button></a
      >
    </div>
    <div class="header__img showImage">
      <img src="{% static 'images/landing.svg' %}" alt="" />
    </div>
  </div>
</div>
<!--  -->

<!-- Job Search -->
<div class="has-background-grey-lighter pt-6 pb-6 px-1 has-text-centered">
  <div class="container has-text-centered mx-5 bg-secondary">
    <h2 class="jobs__section pb-3">Search for jobs here right now !</h2>
    <h2 class="container mb-5 para">
      Finding the right job made easy now. Apply to the best jobs ! Get
      Headhunted By Top Recruiters. Register Now!
    </h2>
    <div class="container field is-grouped is-grouped-centered">
      <div class="field mr-1">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Search jobs here..." />
          <span class="icon is-small is-left">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <div class="field mr-1 is-hidden-mobile">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Location"
            class="is-small"
            size="5"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-map-marker"></i>
          </span>
        </p>
      </div>
      <button class="button is-primary" type="button" href="">Search</button>
    </div>
  </div>
</div>
<!--  -->

<main class="container py-5 px-5" class="jobs__section">
  <h2 class="jobs__section pb-3">Apply to lastest Jobs !</h2>

  <div class="card-container">
    {% for i in jobs %}
    <div class="card">
      <div class="card__header">
        <div>
          <img
            class=""
            src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{i.company.company_logo}}"
          />
        </div>
        <div class="card__info">
          <h2 class="title is-6 m-0">{{i.work_name}}</h2>
          <p>{{i.location}}</p>
        </div>
      </div>
      <div class="card__flex">
        <div>
          <p>Experience</p>
          <h3>{{i.experience_or_time}}</h3>
        </div>
        <div>
          <p>Job Type</p>
          <h3>{{i.emp_type}}</h3>
        </div>
        <div>
          <p>Salary</p>
          <h3>{{i.salary_or_stipend}}</h3>
        </div>
      </div>
      <div class="card__apply mt-3">
        <a class="button is-white py-1 px-0 is-size-6"
          ><p class="date is-size-4" style="font-size: 14px !important">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            &nbsp;{{i.get_date}}
          </p></a
        >
        <button class="button is-primary py-1" type="button" href="">
          Apply Now
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

<div class="header__section">
  <div class="header__container">
    <div class="header__img showImage">
      <img src="{% static 'images/prepup.png' %}" alt="" />
    </div>

    <div class="header__content">
      <h1>Prepup has the best guides for you to crack.</h1>
      <p>
        Prepup provides you notes for subjects and interview preparation guides.
      </p>

      <a href="{% url 'prepIndex' %}"
        ><button class="header__btn outline">Let's Prepare</button></a
      >
    </div>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
