{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/prepup/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/hireup/createJob.css' %}" />


{% endblock %} {% block body %}

<div class="has-background-primary set">
  <div class="container py-5">
    <h1 class="is-size-3 has-text-white m-0"><b>Hireup</b></h1>
    <h2 class="is-size-5 has-text-white"><b>Hireup / {{page}} Profile</b></h2>
  </div>
</div>

<section class="section container set">
  <h2 class="is-size-4 mb-3">{{page}} Profile</h2>
  <form class="editCompany" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">First Name</p>
          <p class="control is-expanded is-fullwidth">
            <input class="input mx-1" type="text" placeholder="First Name" name="first_name" id="first_name"
              value="{{ first_name }}" required />
          </p>
        </div>
      </div>

      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">Last Name</p>
          <p class="control is-expanded is-fullwidth">
            <input class="input mx-1" type="text" placeholder="Last Name" name="last_name" id="last_name"
              value="{{ last_name }}" required />
          </p>
        </div>
      </div>

      <div class="field-body">
        <div class="field">
          <p class="mb-2">Contact</p>

          <p class="control is-expanded is-fullwidth">
            <input class="input mx-1" type="text" placeholder="+91 8764531234" name="phone" id="phone"
              value="{{ phone }}" required />
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="mb-2 ml-1">Email</p>
          <p class="control is-expanded is-fullwidth">
            <input class="input mx-1" type="text" placeholder="e.g., xvr@gmail.com" name="email" id="email"
              value="{{ email }}" style="max-width: 66%" required />
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded is-fullwidth"></p>
        </div>
        <div class="field">
          <p class="control is-expanded is-fullwidth"></p>
        </div>
      </div>
    </div>

    <br />

    {% if error %}
    <article class="message is-info">
      <div class="message-header">
        <p>{{error}}</p>
      </div>
    </article>

    {%endif%}
    <button style="float: left" class="button is-primary" type="submit" href="">
      {{button}}
    </button>
  </form>
</section>

{% endblock %} {% block script %} {% endblock %}