{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/job.css' %}" />

<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="user__profile container">
  <div class="profile__header">
    <div>
      <img src="{% static 'images/profile/download.svg' %}" />
    </div>
    <div>
      <p>
        <span style="font-size: x-large">
          
        {{data.first_name}}&nbsp;{{data.last_name}}&nbsp;&nbsp;<span class="icon has-text-primary">

        </span>
      </p>
      <p class="headline">{{data.profile}}</p>
      <p class="bio">
        {{data.bio}}
      </p>
      <div class="social__icons">
        <span><a
          href="{{data.fb}}"
          style="text-decoration: none;color: inherit;" ><i class="fab fa-facebook-square" aria-hidden="true"></i></a></span>
        <span><a
          href="{{data.lkd}}"
          style="text-decoration: none;color: inherit;" ><i class="fab fa-instagram" aria-hidden="true"></i></a></span>
        <span><a
          href="{{data.fb}}"
          style="text-decoration: none;color: inherit;" ><i class="fab fa-twitter-square" aria-hidden="true"></i></a></span>
        <span><a
          href="{{data.git}}"
          style="text-decoration: none;color: inherit;" ><i class="fab fa-github-square" aria-hidden="true"></i></a></span>
        <span><a
          href="{{data.hacker}}"
          style="text-decoration: none;color: inherit;" ><i class="fab fa-hackerrank"></i></a></span>
      </div>
      <div class="connect__btn">
        <a href="{% url 'resumeViewer' user=data.username %}" class="button is-primary" target="blank">Resume</a>
        <a href="" class="button is-primary-outline has-text-color-primary"
          >Contact</a
        >
      </div>
    </div>
  </div>
  <div class="profile__body">
    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Skills</b></h2>
      {% for tech in data.tech_stack %}
      <span class="skill">{{tech}}</span>
      {% endfor %}
    </div>

    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Education</b>&nbsp;&nbsp;
        <span class="icon has-text-primary">

        </span></h2>
      <ul class="timeline">
        {% for education in data.education %}
        <li class="timeline-item is-primary">
          <div class="timeline-tag"></div>
          <div class="timeline-content">
            <p class="is-size-7">{{education.start_year}} - {{education.end_year}} &nbsp;
           
        </p>
            <p>{{education.name}}</p>

            <p class="is-size-6">{{education.degree}}</p>
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>

    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Work Experience</b>
        &nbsp;&nbsp;
</h2>
      <ul class="timeline">
        {% for experience in data.experience %}
        <li class="timeline-item is-danger">
          <div class="timeline-tag"></div>
          <div class="timeline-content">
            <p class="is-size-7">{{experience.start_year}} - {{experience.end_year}} &nbsp;
             
        </p>
            <p>{{experience.organisation}}</p>

            <p class="is-size-6">{{experience.designation}}</p>
          </div>
        </li>
        {% endfor %}
        
      </ul>
    </div>
    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Certifications</b>&nbsp;&nbsp;
        </h2>
      {% for certification in data.certification %}
      <div class="mb-3 ml-3 certficate">
        <div class="timeline-content">
          <p class="is-size-6"><b>{{certification.name}}</b> &nbsp;
         
          </p>
          <p class="is-size-7">{{certification.organisation}} on {{certification.issue_date}}</p>
          <a href="http://" class="is-size-7">View Certificate</a>
        </div>
      </div>
      {% endfor %}      
    </div>
    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Languages</b></h2>
      <span class="skill">Hindi</span>

      <span class="skill">English</span>
    </div>
  </div>

  {% endblock %} {% block script %} {% endblock %}
</div>
