{% extends "layout.html" %} {% load static %} {% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'css/job.css' %}" />

<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />

{% endblock %} {% block body %}
<div class="user__profile container">
  {% if company %}
  <article class="message is-primary" id="popUPMsg">
    <div class="message-header">
      <p>Please complete your profile to start further journey.</p>
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
  {% endif %}
  <div class="profile__header">
    <div>
      <img src="{% static 'images/profile/download.svg' %}" />
    </div>
    <div>
      <p>
        <span style="font-size: x-large">{{first_name}} {{last_name}}</span>&nbsp;&nbsp;<span
          class="icon has-text-primary">
          <a href="{% url 'editRecruiterProfile' %}" style="text-decoration: none; color: inherit"><i
              class="fas fa-edit has-text-primary"></i></a>
        </span>
      </p>

      <p class="headline">
        {% if company_name %}{{company_name}}{% else %}N/A{% endif %}
      </p>
      <p class="bio">
        <b>
          {%if company_location%} {{company_location}} {%else%} N/A {%endif%}</b>
      </p>
      <p class="bio">
        Talent Acquisition | Jobs for Python, Java and Web Developer
      </p>
      <div class="connect__btn">
        {% if company %}
        <a href="{% url 'createJob' %}" class="button is-primary" style="pointer-events: none">Create Job</a>
        {% else %}
        <a href="{% url 'createJob' %}" class="button is-primary">Create Job</a>
        <a href="{% url 'recruiterJobs' %}" class="button is-primary-outline">Dashboard</a>
        {% endif %}

        <!-- <a href="" class="button is-primary-outline has-text-color-primary"
          >Edit Company Info</a
        > -->
      </div>
    </div>
  </div>
  <div class="profile__header mt-5">
    <div class="profile__body">
      <div class="">
        <h2 class="is-size-5"><b>Company Info</b></h2>
        <br />
        {% if company %}

        <br />
        <div class="container field is-grouped is-grouped-centered">
          <form action="{% url 'setCompany' %}" method="POST">
            {% csrf_token %}
            <input class="input mx-1" list="company_list" style="width: 50%" name="company"
              placeholder="Search your company" />

            <datalist id="company_list">
              {% for company in company_list %}
              <option value="{{company.company_name}}"></option>
              {% endfor %}
            </datalist>
            <button class="button is-primary" type="submit">
              <span>Save
                <span class="icon is-small pl-2">
                  <i class="fas fa-check"></i> </span></span>
            </button>

            <span class="mx-3 mt-2">OR</span>
            <a class="button is-primary" href="{% url 'addCompany' %}" style="text-decoration: none; color: inherit">
              <span>Add
                <span class="icon is-small pl-2">
                  <i class="fas fa-plus"></i> </span></span>
            </a>
          </form>
        </div>
        <br />
        {%endif%}
        <img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{company_logo}}" alt=""
          style="max-width: 60px" />

        {% if not company %}
        <h3 class="is-size-5">{{company_name}}</h3>
        <h3 class="is-size-7">{{company_type}}</h3>
        <h4 class="is-size-6">{{company_location}}</h4>
        <h5 class="is-size-7 my-1">
          <b><a href="{{company_site}}" target="blank">Website</a></b>
        </h5>
        <h5 class="is-size-6">{{about_company}}</h5>
        <a href="{% url 'editCompany' comp_id %}" class="button is-primary has-text-color-primary mt-4">Edit Company
          Info</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}