{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/job.css' %}" />

<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="user__profile container">
  <div class="profile__header">
    <div>
      <img src="{% static 'images/profile/download.svg' %}" />
    </div>
    <div>
      <h2>Adil Khan</h2>
      <p class="headline">Appventurez Mobitech</p>
      <p class="bio">
        <b>Lucknow, India</b>
      </p>
      <p class="bio">Talent Acquisition | Jobs for Python, Java and Web Developer</p> 
      <div class="connect__btn">
        <a href="" class="button is-primary">Create Job</a>
        <a href="" class="button is-primary-outline has-text-color-primary"
        >Edit Company Info</a
      >
      </div>
    </div>
  </div>

  <div class="profile__body">
    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Company Info</b></h2>
    </div>
  </div>
</div>
{% endblock %} {% block script %} {% endblock %}
