{% extends "layout.html" %} {% load static %} {% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/job.css' %}" />

<link rel="stylesheet" href="{% static 'css/userprofile.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>
{% endblock %} {% block body %}

<div class="user__profile container">
  <div class="profile__header">
    <div>
      <img src="{% static 'images/profile/download.svg' %}" />
    </div>
    <div>
      <h2>{{first_name}} {{last_name}}</h2>
      <p class="headline">{{company_name}}</p>
      <p class="bio">
        <b>Lucknow, India</b>
      </p>
      <p class="bio">
        Talent Acquisition | Jobs for Python, Java and Web Developer
      </p>
      <div class="connect__btn">
        <a href="{% url 'createJob' %}" class="button is-primary">Create Job</a>
        <!-- <a href="" class="button is-primary-outline has-text-color-primary"
          >Edit Company Info</a
        > -->
      </div>
    </div>
  </div>

  <div class="profile__body">
    <div class="profile__div">
      <h2 class="mt-5 mb-4 is-size-5"><b>Company Info</b></h2>
      <img
        src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{company_logo}}"
        alt=""
  
        
      />
      
      <h3 class="is-size-5">{{company_name}}</h3>
      <h3 class="is-size-7">{{company_type}}</h3>
      <h4 class="is-size-6">Lucknow, India</h4>
      <h5 class="is-size-7 my-1">
        <b><a href={{company_site}} target="blank">Website</a></b>
      </h5>
      <h5 class="is-size-6">
        {{about_company}}
      </h5>
      <a href="" class="button is-primary has-text-color-primary mt-4"
          >Edit Company Info</a
        >
    </div>
  </div>
</div>
{% endblock %} {% block script %} {% endblock %}
