{% extends "layout.html" %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {% block body %}

<div class="form__container">
  <div class="form__image" style="width: 550px; height:auto;">
    <img src="{% static 'images/auth.png' %}" alt="signup"   />
  </div>
  <div class="">
    <h3 class="is-size-4"><b>Welcome back !</b></h3>
    <br />
    <form action="" method="post" class="container">

      <div class="field">
        <label class="label" for="the_email">Email Address</label>
        <input type="email" name="email" id="the_email" class="input" />
      </div>
      <div class="field">
        <label class="label" for="the_email">Password</label>
        <input type="email" name="email" id="the_email" class="input" />
      </div>

      <div class="field">
        <input type="submit" class="button is-primary"value="Login now" />
      </div>
    </form>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
