{% extends "layout.html" %} {% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}" />

{% endblock %} {% block body %}

<div class="form__container">
  <div class="form__image" style="width: 550px; height: auto">
    <img src="{% static 'images/signin.svg' %}" alt="signup" />
  </div>
  <div class="">
    <h3 class="is-size-4"><b>Welcome back !</b></h3>
    <br />
    <form action="" method="post" class="container">
      {% csrf_token %}
      <div class="field">
        <label class="label" for="the_email">Email Address</label>
        <input type="email" name="email" id="the_email" class="input" />
      </div>
      <div class="field">
        <label class="label" for="the_email">Password</label>
        <input type="password" name="password" id="the_email" class="input" />
      </div>

      <div class="field">
        <input type="submit" class="button is-primary" value="Login now" />
      </div>
      {% if data %}
      <article class="">
        <div class="message-header" style="background: red">
          <p>{{data}}</p>
          <!-- <button class="delete" aria-label="delete"></button> -->
        </div>
      </article>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
